:root {
  --cell-size: 30px;
  --game-grid-bg: #1d202b;
  --cell-border: 1px solid #c6dfec;

  --background: #0f101b;
  --foreground: #bdbfcb;
  --button-text: #bdbfcb;
  --grid-border: #c6dfec;
}

/*  Yorumi Kraken */
.kraken {
  --background: #0e0d17;
  --foreground: #c0bce6;
  --game-grid-bg: #1d202b;
  --cell-border: 1px solid #bdbfcb;
  --button-bg: #121520;
}

/* Yorumi Mist */
.mist {
  --background: #bdbfcb;
  --foreground: #060914;
  --game-grid-bg: #343742;
  --cell-border: 1px solid #c6dfec;
  --button-bg: #343742;
}

/* Stil aplikacije */
.App {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  color: var(--foreground);
}

.Description {
  color: var(--foreground);
  font-size: 20px;
  text-align: center;
  margin: 5px;
}

/* Stilovi za igracu plocu */
.GameGrid {
  display: flex;
  flex-direction: column;
  background-color: var(--game-grid-bg);
  border: 3px solid var(--grid-border);
  border-radius: 10px;
  padding: 15px;
  margin-top: 16px;
}

.row {
  display: flex;
  gap: 2px;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: var(--game-grid-bg);
  border: var(--cell-border);
  box-sizing: border-box;
}

/* Controls styling */
.Controls {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

/* Button styling */
.Button {
  cursor: pointer;
  padding: 10px;
  background-color: var(--button-bg);
  border: 1px solid var(--button-text);
  color: var(--button-text);
  font-size: 16px;
  border-radius: 5px;
}

/* Tetromino color rules */

/* In dark theme (kraken) pieces are light */
.kraken .tetromino-I {
  background-color: #67bbb9;
}
.kraken .tetromino-O {
  background-color: #c39d55;
}
.kraken .tetromino-T {
  background-color: #bb5d7d;
}
.kraken .tetromino-S {
  background-color: #8cb167;
}
.kraken .tetromino-Z {
  background-color: #c65e53;
}
.kraken .tetromino-J {
  background-color: #597bc0;
}
.kraken .tetromino-L {
  background-color: #c97e4f;
}

/* In light theme (mist) pieces are dark */
.mist .tetromino-I {
  background-color: #42608a;
}
.mist .tetromino-O {
  background-color: #9d672f;
}
.mist .tetromino-T {
  background-color: #8d3f5a;
}
.mist .tetromino-S {
  background-color: #697f4d;
}
.mist .tetromino-Z {
  background-color: #913b3b;
}
.mist .tetromino-J {
  background-color: #0d2c4e;
}
.mist .tetromino-L {
  background-color: #543407;
}
